/* Styles généraux */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1a202c, #000000);
    color: white;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 2rem;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 65rem;
    width: 90%;
    background-color: #2d3748;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 2rem;
}

/* Image de profil */
.about-image {
    width: 12rem;
    height: 15rem;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* Texte */
.about-text {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.about-title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #D2691E;
}

.about-paragraph {
    font-size: 1.125rem;
    line-height: 1.75;
}

.highlight {
    color: #FBBF24;
    font-weight: bold;
}

/* Bouton Resume */
.resume-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D2691E;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-size: 1.125rem;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    width: max-content;
    margin-top: 2rem;
}

.resume-button:hover {
    background-color: #4c51bf;
    transform: scale(1.05);
}

.icon {
    margin-right: 0.5rem;
}

/* Responsive Design */
@media (max-width: 700px) {
    .about-section {
        width: 85%;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        width: 10rem;
        height: 12rem;
    }

    .about-title {
        font-size: 1.8rem;
    }

    .about-paragraph {
        font-size: 1rem;
    }

    .resume-button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}
