/* --- Section Contact --- */
.contact {
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-color: beige;
    text-align: center;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    padding-right: 3.7rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.contact p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

/* --- Formulaire --- */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

/* Effet de focus sur les champs */
form input:focus, form textarea:focus {
    border-color: #ff4500;
    outline: none;
}

/* --- Bouton --- */
form button {
    padding: 0.8rem;
    background: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Effet hover sur le bouton */
form button:hover {
    background: #e03e00;
}

/* Responsive - Mobile */
@media (max-width: 700px) {
    .contact {
        padding: 2rem 2rem;
        padding-top: 5rem;
    }

    .contact-container {
        width: 90%;
        padding: 1rem;
        padding-right: 2.5rem;
        margin-left: -0.85rem;
    }

    .contact h2 {
        font-size: 1.8rem;
    }

    .contact p {
        font-size: 0.75rem;
    }

    form input, form textarea {
        padding: 0.7rem;
        font-size: 0.8rem;
    }

    form button {
        padding: 0.7rem;
        font-size: 0.8rem;
        width: 50%;
        margin-left: 4.5rem;
    }
}
