.home {
    padding-top: 6rem;
    text-align: center;
    background-image: url('../../../public/images/home-background.jpg'); /* Chemin de l'image */
    background-size: inherit; /* Ajuste l'image pour couvrir toute la section */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    color: #fff; /* Change la couleur du texte pour qu'il soit lisible sur l'image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home h1 {
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour améliorer la lisibilité */
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espace entre le texte et l'icône */
}

.home p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre pour améliorer la lisibilité */
    width: 70%;
}

.cta-button {
    padding: 0.5rem 1rem;
    background-color: #8B4513; /* Orange foncé / marron */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #D2691E; /* Orange plus clair au survol */
}

.social-icons-home a img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    margin-left: 30px;
    margin-bottom: 10rem;
    margin-top: 2rem;
}

.social-icons a:hover img {
    transform: scale(1.2);
}

.linkedin-icon img {
    filter: brightness(0) invert(1); /* Pour une icône blanche */
}

.github-icon img {
    filter: brightness(0) invert(1); /* Pour une icône blanche */
}

.facebook-icon img {
    filter: brightness(0) invert(1); /* Pour une icône blanche */
}

@media (max-width: 700px) {

    .home {
        margin-top: -2.2rem;
    }
}